<html>
<%- include('header', {logged: true, firstName: false}); %>

<div id="add-stock" class="container">
	<div class="row">
		<div class="col-sm-12 title">
			<h2>Cargar Stock</h2>
				<h4> Producto: <%= producttostock.productname %></h4>
				<h5> Stock ACtual: <%= producttostock.quantity %></h5>
				<%= producttostock %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<form class='form-add-product' action='/add_stock' method='POST'>
				<input type='hidden', name='productid', value='<%= producttostock._id %>'. class='form-control', required>
				<input type='date', name='stockdate', class='form-control', placeholder='Fecha' required>
				<input type='text', name='quantity', class='form-control', placeholder='Cantidad' required>
				<input type='text', name='concepto', class='form-control', placeholder='Concepto' required>
				<button class='btn btn-lg btn-primary btn-block' type='submit'>Agregar Stock al Producto</button>
			<span class="clearfix"></span>
			</form>
		</div>
	</div>
</div>
</html>